    * {
        margin: 0px;
    }
    
    body {
        background-color: wheat;
    }
    
    ol {
        color: red;
    }
    
    center h1 {
        font-size: 50px;
        font-family: sans-serif;
        margin-top: 30px;
        background-color: rgba(0, 147, 215, 0.8);
        border-style: ridge;
        border-width: 10px;
        border-color: skyblue;
    }
    
    .grid {
        display: grid;
        grid-template-columns: 650px 650px;
        margin-top: 50px;
        grid-gap: 10px;
    }
    
    .grid1:hover {
        padding-top: 30px;
        transition: 0.5s ease;
    }
    
    .grid1 {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 15px 20px grey;
        border: 7px solid lavender;
        border-radius: 7px;
        padding-bottom: 200px;
        margin-bottom: 30px;
        margin-left: 25px;
        font-size: 50px;
        text-align: center;
        flex-direction: row;
        color: purple;
        font-family: sans-serif;
    }
    
    .grid1 img {
        width: 100px;
        margin-bottom: -28px;
    }